body {
    font-family: Script MT;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

span {
     height:50px;
    width:120px;
    border-color: #6495ED;
    background-color:#BCD2EE;
    border-style: solid;
    border-width: 2px;
    border-radius:5px;
    margin:auto;
    text-align:center;
}